<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <h1>Full Menu</h1>
  <ul>
    <% restaurant.menu.forEach((item) => { %>
    <li><%= item.name %>, priced at <%= item.price %>, <%= item.rating %> out of 5 stars - <%= item.details %></li>
    <% }) %>    
  </ul>
</body>
</html>
